body{
  background-color: #121212;
  color: #f1f1f1;
  font-family: "Inter Tight", sans-serif;
  // font-family: "Fira Code", monospace;

  header{
    height: 10rem;
    background-color: #a9a9a9;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper__header{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;

      .logo__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;

        h1{
          font-size: 18px;
          font-weight: bold;
          font-family: "Fira Code", monospace;

          a{
            text-decoration: none;
            color: #fff;
          }
        }
      }

      .nav-list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7rem;
        font-size: 16px;

        a{
          text-decoration: none;
          color: #f1f1f1;
          transition: all .3s ease;
        }

        a:hover{
          color: #80ff00;
          transform: scale(1.1);
        }
      }
    }
  }
  main{
    section{
      height: 75vh;
      display: flex;
      justify-content: center;
      align-items: center;
      
      .box{
        background-color: #a9a9a9;
        height: 400px;
        width: 800px;
        border-radius: 25px;

        .box-title{
          padding-bottom: 80px;
          display: flex;
          align-items: center;
          flex-direction: column;
          margin-top: 15px;

          h1{
            font-size: 24px;
            font-weight: bold;
            font-family: "Inter Tight", sans-serif;
          }
        }

        .passwordOptions{
          margin-left: 20px;
          margin-right: 20px;
          display: flex;
          flex-direction: column;

          .range-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 10px;
            margin-bottom: 2rem;

            .passwordLength{
              color: #80ff00;
            }

            input[type="range"]{
              -webkit-appearance: none;
              appearance: none;
              width: 100%;
              height: 6px;
              background-color: #0dcb2d;
              outline: none;
              border-radius: 5px;

              &::-webkit-slider-thumb{
                -webkit-appearance: none;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                cursor: pointer;
                border: none;
                background-color: #00ff2a;
              }
            }
          }

          .checkbox-list{
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: start;
            justify-content: start;
            padding-bottom: 40px;

            .checkbox{
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 15px;
              flex-direction: row-reverse;
              font-family: "Inter Tight", sans-serif;
              font-size: 16px;

              input{
                -webkit-appearance: none;
                appearance: none;
                height: 20px;
                width: 20px;
                background-color: white;
                border-radius: 5px;
                cursor: pointer;
              }

              // input:checked{
              //   background-color: #0dcb2d;
              // }
            }
          }
          button{
            border: none;
            background-color: #0dcb2d;
            padding: 10px 10px;
            border-radius: 15px;
            color: #fff;
            font-family: "Inter Tight", sans-serif;
            transition: all .3s ease;
          }

          button:hover{
            background-color: #0daa27;
          }
        }
      }
    }
  }
}